PORT = Port_Number

BASE_URL = frontend_url

MONGO_URL = database_connection_string

SECRET_KEY = secret_key_for_jwt

CLOUD_NAME = cloudinary_cloud_name

API_KEY = cloudinary_api_key

API_SECRET_KEY = cloudinary_api_secret_key